html {
  overflow-x: hidden;
}

img {
width: 100%;
}

#back-to-top {
  display: none;
}

#firstHeading {
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 100px 0px;
  font-family: "Lora", serif;
  font-size: 3rem;
  letter-spacing: 1px;
}

body{
overflow-x: hidden;
background-color: #F7F7F7;
width: 75%;
    margin: 0 auto;
}


#toc {
  display: none;
}

h2 {
  font-family: "Lora", serif;
  font-weight: 800;
  font-size: 2rem;
  width: 100%;
  text-transform: lowercase;
}

h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2rem;
  width: 75%;
  text-transform: lowercase;
}

p {
    text-align: left;
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.75rem;
    color: #3E3E3E;
}

li {
  font-family: 'Cormorant', serif;
  line-height: 1.5rem;
}




@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (orientation : portrait) {
  body {
    width: 175%;
    margin: 0 auto;
  }
  p {
      position: relative;
      font-size: 2rem;
      line-height: 3rem;
      text-align: left;
      margin: 0 auto;
      padding: 30px 30px;
  }
  h2 {
      font-size: 2.5rem;
      line-height: 4rem;
      padding-left: 30px;

  }

}
